.radio {
    border: 2px solid black;

}

.radio::before {
}


.radio:checked::before {
}

.label {
    /*border: 2px solid black;*/
    display: flex;
    gap: 15px;
    padding: 5px;
}

.options {
    /*border: 2px solid black;*/

}
